@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
     background-color: #030303;
    font-family: "Bebas Neue", sans-serif;
    color: #ffffff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(imagenes/it-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 35px;
    color: #ffffff;
}

.menu .navbar ul li {
   position: relative;
   float: left;
}

.menu .navbar ul li a {
    font-size: 22px;
    padding: 20px;
    color: #ffffff;
    display: block;

}

.menu .navbar ul li a:hover {
   color: #ff2f28;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    width: 100%;
}

.header-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: flex-end;
}

.header-1 img {
    width: 300px;
}

.header-2 {
    width: 50%;
    margin-top: 80px;
    text-align: end;
}

.header-2 h1 {
    color:#ffffff72 ;
    font-size: 80px;
    line-height: 80px;
}

.header-2 img {
    width: 70px;
}

.btn-1 {
    display: inline-block;
    padding: 7px 20px;
    background-color:#ff2f28 ;
    color: #ffffff;
    font-size: 20px;
}

.btn-2 {
    width: 110px;
    display:inline-block ;
    padding: 7px 20px;
    background-color: #ff2f28;
    font-size: 20px;
    margin-top: 30px;
    color: #ffffff;
}

.movies {
    padding: 50px 0 0 0 ;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #ff2f28;
    width: 50%;
    margin-bottom: 40px;
}

.box-container-1 ,
.box-container-2 ,
.box-container-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.box-1 ,
.box-2 ,
.box-3 {
    border-radius: 5px;
    z-index: 1000;
    display: none;
}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4) {
    display: inline-block;
}

.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4) {
    display: inline-block;
}


.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4) {
    display: inline-block;
}

.load-more {
    margin-top: 40px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid #ff2f28;
    color: #ff2f28;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
}

.load-more:hover {
    background-color: #ff2f28;
    color: #ffffff
}

.content img {
    width: 100%;
    margin-bottom: 15px;
}

.content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.content {
    color: #ffffff;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    margin-top: 100px;
    border-top: 1px solid #ff2f283d;
}

.footer ul {
    display: flex;
}

.footer h3 {
    font-size: 30px;
}

.footer a {
    color: #ffffff;
    font-size: 20px;
    margin-right:  20px;
    display: block;
}

.footer a.hover {
    color: #ff2f28;
}

@media (max-width:991px) {
    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #030303;
        display: none;
    }
     
    .menu .navbar ul li {
        width: 100%;
    }

    .btn-1 {
        display: none;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        flex-direction: column;
        padding: 180px 30px 30px 30px;
    }

    .header-1 {
        width: 100%;
        align-items: center;
    }

    .header-2 {
        width: 100%;
        text-align: center;
    }

    .movies{
        padding: 30px 70px;
    }

    .footer {
        margin-top: 30px;
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .footer ul {
        margin-top: 15px;
        justify-content: center;
    }


}
